{% extends "orders/base.html" %} {% block title %} Toppings {% endblock %} {% block header %}
<div>
    <ul class="nav justify-content-end nav-pills">
        <li class="nav-item">
            <p class="nav-link">{{user.get_username}}</p>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'menu'  %}" id="">Menu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'Comment' %}" id="">Comments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}" id="">Logout</a>
        </li>
        {% if user.is_staff %}
        <li class="nav-item">
            <a class="nav-link" href="{%url 'Ordenes' %}"> Ver ordenes </a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{%url 'ShowCarrito'%}"> Carrito </a>
        </li>
    </ul>
</div>
{% endblock %} {% block body %}


<script>
    function ToppingLimit() {
        let p = "{{product.id}}"
        console.log(p)
        var lista = document.querySelectorAll('input')
        var len = lista.length
        var num = document.querySelectorAll('input[type="checkbox"]:checked').length
        var limit = "{{limit}}"
        if (num >= parseInt(limit)) {
            console.log("ya 1:v")
            for (var i = 0; i < len; i++) {
                if (!lista[i].checked) {
                    lista[i].disabled = true
                } else {
                    lista[i].disabled = false
                }
            }
        } else {
            console.log("ya 2:v")
            for (var i = 0; i < len; i++) {
                lista[i].disabled = false
            }
        }
    }

    function Continuar(params) {
        var lista = document.querySelectorAll('input[type="checkbox"]:checked')
        var array = new Array(lista.length)
        for (var i = 0; i < lista.length; i++) {
            array.push(lista[i].nextSibling.data)
        }
        lista = array.slice(lista.length, lista.length * 2)
        console.log(lista)


        const form = document.createElement('form');
        form.method = 'post';
        form.action = "/confirm";
        const hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = 'lista';
        hiddenField.value = lista;

        form.appendChild(hiddenField);

        const hiddenField2 = document.createElement('input');
        hiddenField2.type = 'hidden';
        hiddenField2.name = 'csrfmiddlewaretoken';
        hiddenField2.value = '{{ csrf_token }}';

        form.appendChild(hiddenField2);

        const hiddenField3 = document.createElement('input');
        //let p = "{{product.id}}"
        hiddenField3.type = 'hidden';
        hiddenField3.name = 'productID';
        hiddenField3.value = "{{product.id}}";

        form.appendChild(hiddenField3);

        document.body.appendChild(form);
        form.submit();

        return
    }
</script>
<div class="container">
    <div class="card">
        <div class="card-header" align="center">
            <h1>Toppings Amount: {{limit}}</h1>
        </div>
        <div class="card-body">

            <!--             <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        
                        <th scope="col">Product</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for topping in toppings %}
                    <tr>
                        <td>
                            <input onclick="ToppingLimit()" type="checkbox"> {{topping.product}}
                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table> -->
            <div class="d-flex flex-wrap table-striped table-dark">
                {% for topping in toppings %}
                <div class="p-4 bd-highlight">
                    <input onclick="ToppingLimit()" type="checkbox"> {{topping.product}}
                </div>
                {% endfor %}
            </div>
            {% csrf_token %}
            <br>
            <br>
            <div align="right">

                <button type="submit" class="btn btn-primary" onclick="Continuar()">Agregar</button>
            </div>

        </div>
    </div>



</div>

{% endblock %}